body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Default background color */
}
.bg-img {
  /* The image used */
  background-image: url("img.jpg");

  min-height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  
}

header.scrolled {
  background-color: #000; /* Change background color when scrolled */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .logo {
  color: #000000;
  font-size: 24px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
 
header nav ul li a {
  color: #f7f6f6;
  text-decoration: none;
}
header nav ul li a:hover{
  background-color: aqua;
}
.search-icon {
  color: #fcf7f7;
  font-size: 24px;
}

.hero {
  height: 500px; /* Adjust height as needed */
  background-image: url('your-hero-image.jpg'); /* Add your hero image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.content {
  padding: 50px 0;
}

.about,
.news,
.cs-topics {
  width: 30%;
  margin-right: 5%;
  float: left;
  background-color: #fff;
  padding: 20px;
}

.about {
  background-color: #f9f9f9;
}

.about h2,
.news h2,
.cs-topics h2 {
  margin-top: 0;
}

.about p,
.news p,
.cs-topics p {
  margin-bottom: 20px;
}

.about-us {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

footer p {
  margin: 5px 0;
}
